button {
    background-color:#00ffff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
}

button:not(.disabled):hover {
    color: #00e6e6;
}

button.disabled {
    cursor: normal;
    opacity: 0.3;
}