button {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #01579B;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    outline: 0;
    min-width: 80px;
}

button:not(.disabled):hover {
    background-color: #0277BD;
}

button.disabled {
    cursor: normal;
    opacity: 0.3;
}