.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #0bc9d3;
    color: #fff;
    text-align: center;
    align-items: center;
  justify-content: center;
}

.NavBar-item {
    cursor: pointer;
    padding: 10px 100px;
    text-align: center;
    display: flex;
    font-weight: bold;
    height: 10px;
 }

.NavBar-item:hover {
    color: #ebebeb;
}

