.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #0bc9d3;
    color: #fff;
}

.NavBar-item {
    cursor: pointer;
    flex-grow: 0;
    padding: 10px 10px;
}

.NavBar-item:hover {
    color: #ebebeb;
}

.NavBar-spacer {
    flex-grow: 1;
}
